<md-sidenav md-is-locked-open="true">
  <md-input-container class = "md-block">
      <label>{{ SharedData.sidebarData }}</label>
      <input ng-model="SharedData.sidebarData" ng-change="sidebar.homeText()">
  </md-input-container>
  <md-input-container class = "md-block">
    <label>Selected node: {{SharedData.diagram.selectedNodeData.key}}</label>
    <input type="text" ng-model="SharedData.diagram.selectedNodeData.name" class="ng-pristine ng-untouched ng-valid">
  </md-input-container>
</md-sidenav>